@import "./font.scss";
$white: #fff;
body {
  background: #e5e5e5;
}
@mixin media1 {
  @media (max-width: 564px) {
    @content;
  }
}
@mixin media2 {
  @media (max-width: 484px) {
    @content;
  }
}
h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  color: #2b283a;
}
.container {
  width: 550px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  @include media1 {
    width: 100%;
    position: unset;
    transform: unset;
  }
}
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
